// Colors

$color-white: #FFFFFF;
$color-grey-light: #CBCECD;
$color-grey: #909090;
$color-grey-dark: #5A5A5A;
$color-black: #000000;

$color-bg: #212121;
$color-bg-light: #2D2D2D;

// Colors editor

$color-comment: #9a9b99;
$color-obj: #6089b4;
$color-obj-attr: #9872a2;
$color-symbol: #c0c3c1;
$color-string: #9aa83a;
$color-fn: #cd6700;
$color-equal: #606060;
