// Variables

$font-size-base: rem-calc(15);
$spacing-base: rem-calc(10);
$spacing-base-negative: rem-calc(-10);
$line-height-base: rem-calc(25);

$header-height-mobile: rem-calc(33);
$header-height-desktop: rem-calc(64);
$status-bar-height: rem-calc(22);

$collapse-icon-trannsition: cubic-bezier(.25,1.7,.35,.8);
