// Editor

.nt-editor {
    background-color: $color-bg;
    color: $color-grey-light;
    counter-reset: line;
    flex: 1;
    padding: calc(#{$spacing-base} + #{$header-height-mobile}) 0 calc(#{$spacing-base} + #{$status-bar-height}) 0;

    @media (min-width: rem-calc(768)) {
        padding: calc(#{$spacing-base} + #{$header-height-desktop}) 0 calc(#{$spacing-base} + #{$status-bar-height}) 0;
    }

    // Collapsed lines

    &-group {
        height: auto;
        overflow: hidden;
        transition: height 200ms ease-out;

        &.nt-collapsed { height: rem-calc(25); }
    }

    // Line

    &-line {
        display: flex;
        line-height: $line-height-base;
        min-height: $line-height-base;

        &:before {
            display: none;

            @media (min-width: rem-calc(768)) {
                color: $color-grey;
                counter-increment: line;
                content: counter(line);
                display: block;
                flex: 0 0 rem-calc(30);
                padding: 0 0 0 $spacing-base;
                text-align: right;
                user-select: none;
            }
          }
    }

    // Collapse icon wrapper

    &-collapse-line {
        align-items: center;
        display: flex;
        flex: 0 0 rem-calc(30);
        justify-content: center;
        text-align: center;
    }

    // Chevron

    &-chevron {
        background-color: $color-bg;
        cursor: pointer;
        display: block;
        height: rem-calc(16);
        position: relative;
        width: rem-calc(16);

        & > span {
            &:first-of-type {
                background-color: transparent;
                border-radius: rem-calc(2);
                display: block;
                height: rem-calc(2);
                left: 0;
                position: absolute;
                top: rem-calc(6);
                transform: rotate(35deg);
                width: rem-calc(10);

                &:after {
                    background-color: $color-white;
                    border-radius: rem-calc(6) rem-calc(10) rem-calc(10) rem-calc(6);
                    content: '';
                    display: block;
                    height: rem-calc(2);
                    transition: all 0.5s $collapse-icon-trannsition;
                    width: rem-calc(10);
                    z-index: -1;
                }
            }

            &:last-of-type {
                background-color: transparent;
                border-radius: rem-calc(2);
                display: block;
                height: rem-calc(2);
                left: rem-calc(6);
                position: absolute;
                top: rem-calc(6);
                transform: rotate(-35deg);
                width: rem-calc(10);

                &:after {
                    background-color: white;
                    border-radius: rem-calc(10) rem-calc(6) rem-calc(6) rem-calc(10);
                    content: '';
                    display: block;
                    height: rem-calc(2);
                    transition: all 0.5s $collapse-icon-trannsition;
                    width: rem-calc(10);
                    z-index: -1;
                }
            }
        }

        .nt-collapsed > & > span:first-of-type:after {
            transform: rotate(-70deg);
            transform-origin: center center;
        }

        .nt-collapsed > & > span:last-of-type:after {
            transform: rotate(70deg);
            transform-origin: center center;
        }
    }

    // Collapse icon (chevron)

    &-collapse-line-icon {
        opacity: 1;
        transition: opacity 50ms linear, visibility 0ms linear 50ms;
        visibility: visible;

        @media (min-width: rem-calc(768)) {
            opacity: 0;
            visibility: hidden;

            .nt-editor-collapse-line.nt-hover &,
            .nt-collapsed > & {
                opacity: 1;
                transition: visibility 0ms linear, opacity 50ms linear;
                visibility: visible;
            }
        }
    }

    // Line code

    &-line-code {
        display: block;
        flex: 1;
        padding: 0 $spacing-base 0 calc(#{$spacing-base} * 2);
        text-indent: calc(#{$spacing-base-negative} * 2);

        .nt-editor-collapse-line.nt-active + & { pointer-events: none; }

        .nt-editor-collapse-line.nt-collapsed + &:after {
            background: $color-bg-light;
            border-radius: rem-calc(10);
            content: '···';
            cursor: pointer;
            font-weight: bold;
            letter-spacing: rem-calc(-3);
            margin-left: rem-calc(5);
            padding: 0 rem-calc(6) 0 rem-calc(3);
            pointer-events: all;
        }
    }

    // Line code margin-bottom

    &-line-code-ml2 { margin-left: calc(#{$spacing-base} * 2); }
    &-line-code-ml4 { margin-left: calc(#{$spacing-base} * 4); }
    &-line-code-ml6 { margin-left: calc(#{$spacing-base} * 6); }
    &-line-code-ml8 { margin-left: calc(#{$spacing-base} * 8); }
    &-line-code-ml10 { margin-left: calc(#{$spacing-base} * 10); }
}
